<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all' unless Rails.env.test? %>
  <%= stylesheet_link_tag "clark_kent/application.css" unless Rails.env.test? %>
  <%= javascript_include_tag 'application' unless Rails.env.test? %>
  <%= javascript_include_tag 'clark_kent/application' unless Rails.env.test? %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
