<div class="srow editing">
  <%= simple_form_for report_filter,
      as: report_filter,
      url: report_filter.new_record? ? report_filters_url : report_filter_url(report_filter),
      defaults: {
        wrapper_html: { class: 'span2'},
        input_html: { class: 'input-medium' },
        label_html: { class: 'quiet'}},
      html: {
        id: "report_filter_form_#{report_filter.object_id}",
        class: 'form-inline',
        data: {
          ajax_form: true,
          sub_type: "AddALineForm",
          ajax_target: report_filter.new_record? ? "#report_filter_list_#{dom_id(report_filter.filterable)}" : "#report_filter_#{report_filter.id}",
          insert_method: report_filter.new_record? ? 'append' : 'html',
          container: dom_target(report_filter.filterable, :new_report_filter_container),
          ajax_flash: true } } do |f| %>
    <div class="scol one-third">
      <%= f.input :filterable_id, as: :hidden %>
      <%= f.input :filterable_type, as: :hidden %>
      <% if report_filter.new_record? %>
        <%= f.input :filter_name, collection: report_filter.filterable.available_filter_options,
              input_html:
                revealer("filter_value_options_#{report_filter.object_id}", highlander: true).merge(
                  id: "report_filter_filter_name_#{report_filter.object_id}"),
              include_blank: false %>
      <% else %>
        <div class="srow quiet">Filter Name</div>
        <div class="srow"><%= report_filter.filter_name %></div>
      <% end %>
    </div>
    <% if report_filter.new_record? %>
      <div class="scol one-third" <%= revealer_target_attrs("filter_value_options_#{report_filter.object_id}") %>>
        <% report_filter.filterable.available_filters.each do |name,label| %>
          <div <%= revealer_option_attrs("filter_value_options_#{report_filter.object_id}", trigger: name) %> id="filter_value_options_<%= name %>">
            <%= render partial: report_filter.filterable.filter_kind(name) + '_edit', locals: {f: f, report_filter: report_filter, name: name} %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="scol one-third">
        <%= render partial: report_filter.filterable.filter_kind(report_filter.filter_name) + '_edit', locals: {f: f, report_filter: report_filter, name: report_filter.filter_name} %>
      </div>
    <% end %>
    <div class="scol right margin-top">
      <%= f.button :submit %>
      <% if report_filter.new_record? %>
        &nbsp; <a <%= emptier dom_target(report_filter.filterable, :new_report_filter_container) %>> cancel </a>
      <% else %>
        &nbsp; <%= link_to 'cancel', report_filter_url(report_filter),
          data: {ajax_link: "true", ajax_target: "#report_filter_#{report_filter.id}"} %>
        &nbsp; <%= link_to '&otimes;'.html_safe, report_filter_url(report_filter), class: "delete", data: {ajax_delete: "true", ajax_target: "#report_filter_#{report_filter.id}" }, tabindex: "-1" %>
      <% end %>
    </div>
  <% end %>
</div>