<div class="srow">
  <%= simple_form_for @report, html: @report.persisted? ? ajax_form_hash( '#report_info_container' ) : {} do |f| %>
    <div class="scol one-quarter">
      <%= f.input :name, minlength: false %>
    </div>
    <div class="scol one-quarter">
      <%= f.input :resource_type,
          collection: ClarkKent.resource_options,
          label: 'A row for every:',
          prompt: 'Please Choose' %>

    </div>
    <%= f.input :sharing_scope_type, as: :hidden, value: 'Everyone' %>
    <%= f.input :sharing_scope_id, as: :hidden, value: 'Everyone' %>
    <div class="scol one-quarter margin-top right">
      <div class="srow">
        <%= f.button :submit %>
        <% unless @report.new_record? %>
            &nbsp; <%= ajax_link 'cancel', report_url(@report), {class: 'right'}, "#report_info_container" %>
          </div>
          <div class="srow right">or</div>
          <div class="srow">
            <%= link_to "Delete Report", @report, class: 'right', :method=>:delete, :data => { delete_link: true, :confirm => "Are you sure you want to delete this report?" } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
