<% if rows %>
  <% if rows.total_count > 50 %>
    <div <%= modal_trigger("#print_report_modal", dismissable: true) %> class="link"> Print </div>
    <div id="print_report_modal" class="hidden">
      <p> You will only be printing the current page of results (<%= @report.resource_class.default_per_page %> of <%= @rows.total_count %> total results).
          To print all results click the <strong>download full csv</strong> link at the bottom of the page.</p>
      <div class="row-fluid" >
        <div class="span8"></div>
        <div class="span1">
          <%= print_button(@rows, true) %>
        </div>
      </div>
    </div>
  <% else %>
    <%= print_button(@rows) %>
  <% end %>
<% end %>