<h1>Reports</h1>
<% ClarkKent::SharingScopeKind.all.each do |sharing_scope_kind| %>
  <% sharing_scope_kind.scopes_for(effective_user).each do |sharing_scope| %>
    <% if sharing_scope.reports.any? %>
      <div id="<%= sharing_scope.dom_id %>">
        <h3><%= sharing_scope.human_name %></h3>
        <% sharing_scope.reports.each do |report| %>
          <%= link_to report.name, report_url(report) %> <%= link_to '(edit)', edit_report_url(report) %><br>
        <% end %>
        <% if 'everyone' == sharing_scope_kind.type %>
          <% ClarkKent.custom_report_links.each do |link_text,link_path_string| %>
            <%= link_to link_text, eval("main_app.#{link_path_string}") %><br>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
<hr>
<div id="controls">
  <%= link_to "create a new report", new_report_path %>
</div>
